@import "tailwindcss";

@theme {
    --animate-disappear: crt-disappear 0.3s ease-in forwards;
    --animate-appear: crt-appear 0.3s ease-out forwards;
    --animate-systemBoot: system-boot 0.5s ease-out forwards;
    --animate-fade-in: fade-in 1.5s ease-out forwards;
    --animate-marquee: marquee 10s linear infinite;
    --animate-scale: scale 1s ease-out forwards;
    --color-terminalBG: #06110a;
    --color-terminalGreen: #00ff66;
    --color-terminalGreenDark: #0f3d26;
}

/* App.css */
.crt::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: repeating-linear-gradient(to bottom,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px);
}

.hazard-tape {
    background: repeating-linear-gradient(-45deg,
            var(--color-terminalGreen) 0px,
            var(--color-terminalGreen) 20px,
            var(--color-terminalGreenDark) 20px,
            var(--color-terminalGreenDark) 40px);
    background-size: 56px 56px;
    animation: hazardMove 2s linear infinite;
}

html {
    font-size: clamp(12px, 1vw, 16px);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-left: 1px solid var(--color-terminalGreen);
}

::-webkit-scrollbar-thumb {
    background: #00ff9c;
    box-shadow: 0 0 3px var(--color-terminalGreen);
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffa6;
    box-shadow: 0 0 6px #00ff9c;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #00ff9c #000;
} */

@keyframes hazardMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 56px 0;
    }
}

@keyframes crt-disappear {
    0% {
        display: flex;
        opacity: 1;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes crt-appear {
    0% {
        display: none;
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: flex;
    }
}

@keyframes system-boot {
    0% {
        display: flex;
        transform: scaleY(0);
    }

    100% {
        display: flex;
        transform: scaleY(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}